@if (vragenlijsten()) {
  <div class="m-2 overflow-x-auto border border-base-content/5 rounded-box w-fit mx-auto my-5">
    <table class="table">
      <thead>
      <tr>
        <th>Naam</th>
        <th>Deadline</th>
        <th>Vooruitgang</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (v of vragenlijsten()!.newVragenlijsten; track v.id) {
          <tr>
            <td>
              {{ v.naam }}
            </td>
            <td>
              {{ v.deadline | date:'dd/MM/yyyy' }}
            </td>
            <td>
              <div>
                <p>0%</p>
                <progress class="progress progress-primary w-56" value="0" max="100"></progress>
              </div>
            </td>
            <th>
              <button class="btn btn-primary btn-xs" (click)="openSurvey(v)">
                Start vragenlijst
              </button>
            </th>
          </tr>
        }
        @for (a of vragenlijsten()!.antwoorden; track a.id) {
          <tr>
            <td>
              {{ a.vragenlijst.naam }}
            </td>
            <td>
              {{ a.vragenlijst.deadline | date:'dd/MM/yyyy' }}
            </td>
            <td>
              <div>
                <p>{{ a.vooruitgang }}%</p>
                <progress class="progress progress-primary w-56" value="{{a.vooruitgang}}" max="100"></progress>
              </div>
            </td>
            <th>
              <button class="btn btn-primary btn-xs" (click)="hervatSurvey(a)">
                Verder invullen
              </button>
            </th>
          </tr>
        }
        @if (vragenlijsten()!.newVragenlijsten.length === 0 && vragenlijsten()!.antwoorden.length === 0){
          <tr>
            <td colspan="4">Er zijn op dit moment geen openstaande vragenlijsten.</td>
          </tr>
        }
    </table>
  </div>
} @else {
  <p>Loading...</p>
}


@if (isModalOpen()) {
  <div class="modal modal-open">
    <div class="modal-box w-11/12 max-w-3xl h-11/12 overflow-hidden pb-4">

      <!-- Close button -->
      <div class="relative z-50 flex justify-end">
        <button
          class="btn btn-sm btn-circle btn-ghost"
          (click)="closeModal()">
          ✕
        </button>
      </div>

      <!-- SurveyJS renders here -->
      @if (activeSurvey()) {
        <survey [model]="activeSurvey()!"></survey>
      }

    </div>
    <!-- Click backdrop to close -->
    <div class="modal-backdrop" (click)="closeModal()"></div>
  </div>
}
