@import "tailwindcss";
@import "survey-core/survey-core.min.css";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: light;
  default: true;
  --color-primary: rgba(0, 51, 86, 1);
  --color-secondary: rgba(43, 151, 157, 1);
  --color-background: rgba(253, 255, 252, 1);
  --color-accent: #1F357A;
}
